@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 25rem;
  border-radius: 30px;
  padding: 0 3rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  height: 15rem;
  width: 15rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.sneaker img {
  width: 17rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.info h1 {
  font-size: 2rem;
  transition: all 0.75s ease-out;
  margin-top: 3rem;
}

.info h3 {
  font-size: 1rem;
  padding: 2rem 0;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes button {
  padding: 0.5rem 1.5rem;
  background: none;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  color: #585858;
}

button.active {
  background: #585858;
  color: #fff;
}

.purchase {
  margin-top: 1rem;
}

.purchase button {
  width: 100%;
  padding: 1rem 0;
  background: #f54624;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
  transition: all 0.75s ease-out;
}
